node_modules/\n.next/\nout/\nbuild/\ndist/\n.vercel\n.env\n.env.local\n.env.*\ncache/\nartifacts/\ntypechain/\ntypechain-types/\ncoverage/\ncoverage.json\n.vscode/\n.idea/\n*.swp\n*.swo\n.DS_Store\n*.pem\nnpm-debug.log*\nyarn-debug.log*\nyarn-error.log*
